################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/login/login/obj/Debug
/login/.vs/login/v15/Server/sqlite3
/login/.vs/login/v15
