################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/login/login/obj/Debug
